.chat-container {
display: flex;
flex-direction: column; 
align-items: center;
gap: 24px;
}
.chat-content {
  width: 350px;
}
.chat-icon {
display: block;
margin: 0 auto;
width: 80%;
height: auto;
}
.sit{
font-family: crimson;
font-weight: 700;
font-size: 24px;
line-height: 100%;
}
.dolor {
font-family: work-sans;
font-size: 27px;
line-height: 150%;
color: #6c757d;
}
.learn {
color: white;
background-color: black;
border-radius: 5px;
border: none;
padding: 10px 30px;
font-size: 16px;
}

@media (min-width: 1024px) {
.chat-container {
flex-direction: row;
align-items: center;
justify-content: center;
gap: 40px;
}
.chat-icon {
width: 420px; 
height: auto;
}
.chat-content {
text-align: left;
max-width: 500px;
}
}
  