.footer-container {
  background-color: #74C69D;
  gap: 500px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.footer-text {
 display: flex;
  justify-content: center;
  align-items: center;
}