.hero{
background-color:#74C69D;
color: #fff;
overflow-x: hidden;
padding: 40px 24px;
display: flex;
flex-direction: column;

}
.hero-image {
  width: 100%;
  max-width: 500px;
}
button {
  background-color: #fff;
  color: black;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: start;
}
.we { 
  font-family: Work Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.lo {
  font-family: Crimson Text;
  font-weight: 700; 
  font-size: 30px;
  line-height: 100%;
}
.ip {
  font-family: Work Sans;
  font-weight: 200;
  font-size: 27px;
}
