.portfolio-contents { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.portfolio-heading {
  font-size: 24px;
  font-family: Work Sans;
  color: #74C69D;
}
.portfolio { 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.sum {
  font-family: Work Sans;
  font-size: 28px;
  line-height: 1;
  margin-top: 3px;
}
.center-line {
  display: block;
  text-align: center;
  width: 100%; 
}
 .portfolio-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  gap: 24px; 
} 
.more {
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  justify-content: center;
  align-self: center;
}
